
#bando /*bloc blanc au tour des slides*/{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
    align-self: center;
    justify-self: center;
    border-radius: 24px;
}

#cadre{
    display: flex;
}

.carrousel {
    width : 100%;
}

#past{
    position: absolute;
    top: 45%;
    z-index: 10;
    left: 2%;
    font-size: 35px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

#next{
    position: absolute;
    top: 45%;
    z-index: 10;
    right: 2%;
    font-size: 35px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}