body {
	margin : 0;
	margin-top: 15em;
}

footer{
	display: flex;
}
	

#footer1 {
	display: flex;
	margin-top: -1em;
	width: 100%;
}

.footer2 {
	display: flex;
	justify-content: space-between;
	background-color: #161B4B;
	height: 250px;
	width: 100%;
	margin-top: -1em;	
	color: white;
	font-size: 12px;
	font-family: "Segoe UI";
	font-weight: bold;
}
.fgauche {
	display : flex;
	/*justify-content: start;*/
	flex-direction: column;
	align-items: center;
	
	
	
}

.ml {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding-right: 6em;
	text-align: center;
	line-height : 50%;
	padding-top: 3em;
}

#ig {
	width: auto;
	padding-right: 1.7em;
}

#tt {
	width: auto;
	padding-right: 1.7em;
}

#fb {
	width: auto;
}


.rs {
	display: flex;
	justify-content: space-evenly;
	padding-top: 6em;
	padding-left: 6em;
	height: 18%;
	width: 18%;
}




.email {
	display: flex;
	justify-content: center;
	color : white;
	font-size: 22px;
	padding-top: 1em;
	padding-left: 3.8em;
}

