body {
	margin : 0;
}

footer{
	display: flex;
}
	

#footer1 {
	display: flex;
	margin-top: -1em;
	width: 100%;
}

.footer2 {
	display: flex;
	justify-content: space-between;
	background-color: #161B4B;
	height: 250px;
	width: 100%;
	margin-top: -1em;	
	color: white;
	font-size: 12px;
	font-family: "Segoe UI";
	font-weight: bold;
}
.fgauche {
	display : flex;
	/*justify-content: start;*/
	flex-direction: column;
	align-items: center;
	
}



.ml {
	height: 175px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-right: 100px;
	text-align: center;
	line-height : 50%;
	padding-top: 35px;
	font-size: 20px;
	
}

a{
	text-decoration: none;
	color: white;
}



#ig {
	width: auto;
	height: 45px;
	padding-right: 1.7em;
}

#tt {
	width: auto;
	height: 44px;
	padding-right: 1.7em;
}

#fb {
	height: 44px;
	width: auto;
}


.rs {
	display: flex;
	justify-content: space-evenly;
	padding-top: 6em;
	padding-left: 6em;
	height: 18%;
	width: 18%;
}




.email {
	display: flex;
	justify-content: center;
	color : white;
	font-size: 22px;
	padding-top: 1em;
	padding-left: 3.8em;
}

@media screen and (max-width: 650px) {

	.footer2{
		flex-direction: column;
		height:auto;
	}

	.email {
		padding-top: 0;
		padding-left: 0;
	}
	
	.rs {
		padding-left: 0;
	}

	.ml {
		padding-right: 0;
	}
}