/*--------------------Commun-------------------*/

body {
	margin : 0;
}

header{
	margin-top: 2em;
	top: 20px;
	width: 100%;
	height: 50px;
	z-index: 1000;

	display: flex;
	justify-content: center;
}

/*--------------------nav-------------------*/

/*----------bleu--------*/
.tete {
	display: flex;
	justify-content: space-between;
	
	width: 90%;
	height: 100%;

}

#dates{
	color : white;
	font-family: "GROBOLD";
	font-size: 15px;
}

.hg{
	background-color: #161B4B;

	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 220px;
	padding-left: 1em;
	padding-right: 0.7em;
	border-radius: 10px;
}

.hg > .logo{
	height: 75%;
}

.hg > .logo > img{
	height: 100%;
	padding: 0;
	margin-right: 5px;
}


.hg > p {
	line-height: 20px;
}

/*----------orange--------*/
.menuorange {
	background-color: #FCA01F;
	display: flex;
	width: 580px;
	border-radius: 10px;
	padding: 0 10px;
}
.menu{
	display: flex;
	width: 100%;
}
.menu ul{
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.menu > ul {
	padding: 0;
}

.menu > ul > li {
	text-align: center;
}

.menu > ul > li > a {
	text-decoration: none;
	font-size: 13px;
	font-family: "Segoe UI";
	color : black;
	font-weight: 500;
}

#profil{
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

#billeterie{
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: #161B4B;
	display: flex;
	align-items: center;
	justify-content: center;
}

#profil input{
	font-family: "GROBOLD";
	background-color: transparent;
}

#billeterie input{
	color : white;
	font-family: "GROBOLD";
	background-color: transparent;
}

/*--------------------forme-------------------*/

.top{
	width: 70vw;

	position: absolute;
	top: -10px; 
	left: -20px;
	z-index: -1;
}