/*--------------------Commun-------------------*/

body {
	margin: 0;
}


header{
display: flex;
height: 10em;
}
#headervide{
	
	width: 100%;
}
#contenaireHeader{
	position: fixed;
	margin-top: 1em;
}
header {
	top: 20px;
	width: 100%;
	height: 50px;
	z-index: 1000;
	display: flex;
	justify-content: center;
}
/*--------------------nav-------------------*/

/*----------bleu--------*/
.tete {
	display: flex;
	justify-content: space-between;
	width: 93%;

}
#contenaireLogo{

	display: flex;
	width: 20%;
}
.hg{
	
	background-color: #161B4B;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding-left: 1em;
	padding-right: 0.7em;
	border-radius: 10px;
}

#dates {
	color: white;
	font-family: "GROBOLD";
	font-size: 15px;
}


.hg>.logo {
	height: 75%;
	width: 60%;
}

.hg>.logo>img {
	height: 100%;
	padding: 0;
}


.hg>p {
	line-height: 20px;
}

/*----------orange--------*/
.menuorange {
	background-color: #FCA01F;
	display: flex;
	width: 580px;
	border-radius: 10px;
	padding: 0 10px;
}

.menu {
	display: flex;
	width: 100%;
}

.menu ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.menu>ul {
	padding: 0;
}

.menu>ul>li {
	text-align: center;
}

.menu>ul>li>a {
	text-decoration: none;
	font-size: 13px;
	font-family: "Segoe UI";
	color: black;
	font-weight: 500;
}

#profil {
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

#billeterie {
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: #161B4B;
	display: flex;
	align-items: center;
	justify-content: center;
}

#profil input {
	font-family: "GROBOLD";
	background-color: transparent;
	border: none;
}

#billeterie input {
	color: white;
	font-family: "GROBOLD";
	background-color: transparent;
	border: none;
}

.burger{
	display: none;
}

/*--------------------forme-------------------*/

.top {
	width: 70vw;

	position: absolute;
	top: -10px;
	left: -20px;
	z-index: -1;
}

/*--------------------Responsive-------------------*/

@media screen and (max-width: 800px) {
	#dates {
		display: none;
	}

	.hg {
		justify-content: center;
	}

	.menuorange {
		width: auto;
		background: transparent;
	}


	.menu {
		flex-direction: column;
		align-items: center;
	}



	.menu>.burger>img {
		height: 40px;
	}

	.menu ul {
		flex-direction: column;
		justify-content: center;
		margin: 0%;
		display: none;
	}

	.menu ul li,.menu>.burger {
		width: 80px;
		background-color: #FCA01F;
		border-radius: 10px;

		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 10px;
	}

	.menu ul li{
		margin: 10px;
		height: 40px;
	}

	.burger{
		height: 50px;
	}

	#profil{
		border: solid 2px #FCA01F;
	}

	.menu:hover > ul{
		display: block;
	}

}