*{
font-family: 'GROBOLD';
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
/*********************** Partie Map ***********************/
.info{
  opacity: 0;
}
.Zoomer{
  opacity: 100;
  cursor: pointer;
}
.Zoomer::-webkit-scrollbar{
  display: none;
}
#articleMap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#GroupeMap{
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 60%;
}
.mapContainer {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  
}
.recouverement{
  background-color: #4a4a4a;
  position: absolute;
  z-index: 2;
  opacity: 40%;
  height: 100%;
  width: 100%;
  display: flex;
}
.recouverement h2{
  color: white;
  opacity: 100%;
  font-size: 3em;
  margin:auto;
}
#GroupeMap:hover .recouverement{
  z-index: 0;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  max-height: 70vh;
  overflow: scroll;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.contenaireListe{
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 40%;
}
.InfoPoli{
  margin: auto;
}
#SelectDep{
  width: 100%;
  font-size: 1.2em;

}

#blocGraphReg{
  display: flex;
  align-items: center;
  justify-content: center;
}

#blocGraphReg img{
  width: 100%;
}

#blocGraphReg img:hover{
  transform:scale(1.3);
  z-index: 3;
}


/*********************** Home Page ***********************/

/* partie intro */


#tache1 {
  z-index: 0;
  position:absolute;
  right: 0;
  width: 12%;
}

.main{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  grid-gap: 200px;
}

.logo{
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: content;
  width: 100%;
}
.intro{
  display: flex;
  justify-content: center;
}
.intro>div{
width: 45%;
display: flex;
flex-direction: column;
}

.imglogo{
  max-width: 600px;
}

.titre{
  font-family: 'GROBOLD';
  margin : 0;
  margin-bottom: 0.2em;
}

.titreE{
  font-family: 'GROBOLD';
  font-size: 25px;
  font-weight: 200;
  margin : 0;
}


.learn {
  margin : 0;
  font-weight: 700;
  font-family: 'Segoe UI';
}
  

.leint p {
  font-family: 'Segoe UI';
  font-size: 21px;
  font-weight: 600;
}

/* partie map */
.containerMap{
  display: flex;
  flex-direction: column;
  grid-gap: 100px;
  width: 100%;
  justify-content:center;
  z-index: 0;
  }
  .containerMap>article{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    justify-content:right;
    z-index: 0;
    position: relative;
    }
.containerMap>article>div:nth-child(1){
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  z-index: 0;
  justify-content: space-evenly;
  position: absolute;
  margin: auto;
  }


.placemap{
  width: 500px;
  height: 500px;
}

.selection{
  display: flex;
  width: auto;
  height: auto;
  width: 500px;
  justify-content: space-between;

}

#select{
  background-color: black;
  color: white;
  border-radius: 15px;
  border: 50px;
  font-size: 25px;
}

#ville{
  background-color: #161B4B;
  color: white;
  border-radius: 15px;
  border: 50px;
  font-size: 25px;
}


.contentcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titre2{
  margin: 0;
  padding: 0.3em 1em 0.3em 1em;
  text-align: center;
}

#select {
  font-size: 21px;
  padding: 0.5em 1.2em 0.5em 1.2em;
}

#ville {
  font-size: 21px;
  font-family: 'Segoe UI';
  font-weight: bold;
  padding: 0.5em 2em 0.5em 2em;
}

.imgcarte>img{
  width: 500px;
}

.textville{
  width: 500px;
  background-color: #FCA01F;
  border-radius: 15px;
  color : white;
}

.textville p{
  font-family: 'Segoe UI';
  text-align: justify;
  padding: 1.5em 3.2em 1.5em 3.2em;
  font-weight: 600;
}

.main .bouton{
  grid-gap: 100px;
}
.bouton{ 
  display: flex;
  justify-content: center;
  font-size: 28px;
  background-color: #009289;
  width: 350px;
  height: auto;
  border-radius: 15px;
  align-self: center;
}

.ticket{ 
  text-align: center;
}

.ticket span{
  font-size: 22px;
}
/* Profile Page */

.sideContainer{
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  z-index: -2000;
}

.signin > .centre > p > input, .billet > .centre > p > input, .billet > .centre > p > select {
  height: 50px;
  width: 100%;
}

input {
  border: none;
}

form a {
  text-decoration: none;
  color: #161B4B;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;

}

form h2 {
  font-family: GROBOLD;
  font-size: larger;
}

.titre {
  margin-top: 70px;

  display: flex;
  justify-content: flex-start;
}

#error {
  font-family: GROBOLD;
  font-size: smaller;
  text-align: center;
  color: #fd5353;
}

.space {
  height: 20vh;
  width: 100%;
}


form {
  padding-bottom: 30px;
  width: 500px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  background-color: #E7E7E7;
  position: relative;

  border-radius: 50px;
}

form *{
  border-radius: 10px;
}

form>img {
  position: absolute;
  top: 20px;
  left: 30px;

  height: 35px;
}

.centre {
  width: 60%;
  margin-bottom: 10px;
}

p>input, select{
  border: solid 1px #a8a8a8;
}


::placeholder, select{
  padding: 10px;
}

.boutton {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boutton > * {
  font-family: GROBOLD;
  font-size: small;
}

.boutton > input {
  width: 90px;
  height: 40px;

  background-color: #161B4B;
  color: white;
}