*{
font-family: 'GROBOLD';
}


/*********************** Partie Map ***********************/
.info{
  opacity: 0;
}
.Zoomer{
  opacity: 100;
  cursor: pointer;
}
.Zoomer::-webkit-scrollbar{
  display: none;
}
#articleMap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#GroupeMap{
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 60%;
  position: relative;
}
.mapContainer {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  
}
.recouverement{
  background-color: #4a4a4a;
  position: absolute;
  z-index: 2;
  opacity: 40%;
  height: 100%;
  width: 100%;
  display: flex;
}
.recouverement h2{
  color: white;
  opacity: 100%;
  font-size: 3em;
  margin:auto;
}
#GroupeMap:hover .recouverement{
  z-index: 0;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  max-height: 70vh;
  overflow: scroll;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.contenaireListe{
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 40%;
}
.InfoPoli{
  margin: auto;
}
#SelectDep{
  width: 100%;
  font-size: 1.2em;

}

#blocGraphReg{
  display: flex;
  align-items: center;
  justify-content: center;
}

#blocGraphReg img{
  width: 100%;
}

#blocGraphReg img:hover{
  transform:scale(1.3);
  z-index: 3;
}


/*********************** Home Page ***********************/

/* partie intro */
.main{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.logo{
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro>div{
width: 50%;
display: flex;
flex-direction: column;
}

.imglogo{
  max-width: 600px;
}

.titre{
  font-family: 'GROBOLD';
}


.leint p {
  font-family: 'Segoe UI';
}

/* partie map */

.containerMap{
display: flex;
width: 100vw;
height: 500px;
justify-content: space-evenly;
}

.placemap{
  width: 500px;
  height: 500px;
}

.selection{
  display: flex;
  width: auto;
  height: auto;
  width: 500px;
  justify-content: space-between;

}

#select{
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 50px;
  font-size: 25px;
}

#ville{
  background-color: #161B4B;
  color: white;
  border-radius: 20px;
  border: 50px;
  font-size: 25px;
}


.contentcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titre2{
  margin: 0;
}

.imgcarte>img{
  width: 500px;
}

.textville{
  width: 500px;
  background-color: #FCA01F;
  border-radius: 15px;
}

.textville p{
  font-family: 'Segoe UI';
  text-align: center;
  
}

.bouton{
  display: flex;
  justify-content: center;
  padding: 25px;
}

.ticket{
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #009289;
  border-radius: 25px;
  text-align: center;
}