html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 0;
  font-family: "GROBOLD";
}


/*********************** Partie Map ***********************/

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  max-height: 70vh;
  overflow: scroll;
  opacity: 0;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.Zoomer{
  opacity: 100;
  cursor: pointer;
}
.Zoomer::-webkit-scrollbar{
  display: none;
}
#articleMap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#GroupeMap{
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 60%;
}

.mapContainer {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1; 
}

.recouverement{
  background-color: #4a4a4a;
  position: absolute;
  z-index: 2;
  opacity: 40%;
  height: 100%;
  width: 100%;
  display: flex;
}

.recouverement h2{
  color: white;
  opacity: 100%;
  font-size: 3em;
  margin:auto;
}

#GroupeMap:hover .recouverement{
  z-index: 0;
}

.contenaireListe{
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 40%;
}
.InfoPoli{
  margin: auto;
}

#SelectDep{
  width: 100%;
  font-size: 1.2em;
}

#blocGraphReg{
  display: flex;
  align-items: center;
  justify-content: center;
}

#blocGraphReg img{
  width: 100%;
}

#blocGraphReg img:hover{
  transform:scale(1.3);
  z-index: 3;
}


/*********************** Home Page ***********************/

/* partie intro */


#tache1 {
  z-index: 0;
  position:absolute;
  right: 0;
  width: 12%;
}

.main{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  grid-gap: 200px;
}

.logo{
  display: flex;
  height: auto;
  width: 160vw;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: content;
  width: 100%;
}

.intro{
  display: flex;
  justify-content: start;
}

.intro>div{
width: 65%;
display: flex;
flex-direction: column;
}

.imglogo{
  max-width: 600px;
}

.titreCULT{
  font-family: 'GROBOLD';
  margin : 0;
  margin-bottom: 0.2em;
}

.titreE{
  font-family: 'GROBOLD';
  font-size: 25px;
  font-weight: 200;
  margin : 0;
}

.learn {
  margin : 0;
  font-weight: 700;
  font-family: 'Segoe UI';
}
  

.leint p {
  font-family: 'Segoe UI';
  font-size: 21px;
  font-weight: 600;
}

/* partie map */
.containerMap{
  display: flex;
  grid-gap: 100px;
  width: 0%;
  justify-content:space-evenly;
  z-index: 0;
  }
 

.partieMap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerMap>article>div:nth-child(1){
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  z-index: 0;
  justify-content: space-evenly;
  position: absolute;
  margin: auto;
  }


.placemap{
  width: 500px;
  height: 500px;
}

.selection{
  display: flex;
  width: auto;
  height: auto;
  width: 500px;
  justify-content: space-between;

}

#select{
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: 'GROBOLD';
  border: 50px;
  font-size: 25px;
}

#ville{
  background-color: #161B4B;
  color: white;
  border-radius: 10px;
  border: 50px;
  font-size: 25px;
}

#select {
  font-size: 21px;
  padding: 0.5em 1em 0.5em 1em;
}

#ville {
  font-size: 21px;
  font-family: 'Segoe UI';
  font-weight: bold;
  padding: 0.5em 2em 0.5em 2em;
}

.contentcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titre2{
  margin: 0;
  padding: 0.3em 1em 0.3em 1em;
  text-align: center;
}



.imgcarte>img{
  width: 500px;
}

.textville{
  width: 500px;
  background-color: #FCA01F;
  border-radius: 15px;
  color : white;
}

.textville p{
  font-family: 'Segoe UI';
  text-align: justify;
  padding: 1.5em 3.2em 1.5em 3.2em;
  font-weight: 600;
}


.bouton{ 
  display: flex;
  justify-content: center;
  font-size: 28px;
  background-color: #009289;
  width: 350px;
  height: auto;
  border-radius: 15px;
  align-self: center;
}

#tickcult{
  text-align: center;
  padding : 0.8em;
  
}

.ticket{ 
  text-align: center;
}

.ticket span{
  font-size: 22px;
}












/* Profile Page */

.contEuro{
	display: flex;
	position: content;
	width: 100%;
	z-index: 3;
  justify-content: space-evenly;
	margin-top : 3em;
}


.contenairePuy{
	display: flex;
	flex-direction: column-reverse;
	position: content;
	width: 100%;
	z-index: 3;
	flex-direction: row;
  justify-content: space-evenly;
	margin-top : 3em;
}
.contenairePuy #ContenaireProg{
	display: flex;
	flex-direction: column-reverse;
	position: content;
	width: 1000px;
	z-index: 3;
	flex-direction: row;
	justify-content: space-evenly;
}

.contenairePuy > div:nth-child(1){
	display: flex;
	justify-content: center;
	width: 100%;
	
}



.affiche {
	display: flex;
	justify-content:space-evenly;
	z-index: 3;
	width: 70%;
}

.carousel {
	display: flex;
	justify-content: center;
	width:50%;

}
#harry {
	border-radius: 15px;
	width: 100%;
}

.description {
	display: flex;
	flex-direction: column;
}

.titre {
	background-color: #F69F25;
	font-family: GROBOLD;
	font-size : 35px;
	width: 190px;
	text-align: center;
	padding : 0.2em 0.5em 0.2em 0.5em;
	border-radius: 10px;
}

.titrep {
	background-color: #000000;
	color : white;
	font-family: "GROBOLD";
	font-size : 35px;
	width: 360px;
	text-align: center;
	padding : 0.2em 0.5em 0.2em 0.5em;
	border-radius: 10px;
}

.datesfest{
	background-color: #161B4B;
	color : white;
	font-family: Segoe UI;
	margin-top: 1.7em;
	font-size: 20px;
	border-radius: 10px;
	padding: 2em 2em 1em 1.8em;
	line-height: 45%;
}

.datesfest span{
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 18px;
}

#white2023 {
	font-size: 80px;
	margin : 0.2em 0em 1em 1.3em;
	text-shadow: 10px 2px #009289;
}

.tachej{
	z-index: 0;
	position: absolute;
	top: 90em;
}



.lieu{
	background-color: #161B4B;
	color : white;
	display: flex;
	justify-content: center;
	font-family: 'Segoe UI';
	font-weight: bold;
	text-align: center;
	width: 480px;
	border-radius: 10px;
	padding : 1.5em;
	margin-top: 1.7em;
}



.zone {
	line-height: 65px;
	padding-left: 3em;
  font-family:"Segoe UI"
}


.art {
	background-color: #009289;
  font-family:"Segoe UI";
	display: flex;
	color: black;
	text-align: center;
	border-radius: 10px;
	justify-content: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
	line-height: 65px;
	font-weight: 900;
}

.programme {
	display: flex;
	flex-direction: column;
}

#cartep {
	border-radius: 10px;
}


.TextSavoir{
  display: flex;
  justify-content: center;
  width: 100%;
	z-index: 4;
}
.TextSavoir>p{
  font-family: "Segoe UI";
  font-weight: 600;
  color : white;
  background-color: #F69F25;
  width: 800px;
  border-radius: 15px;
}
#textesav {
  padding : 2em;
}

#textesav>span {
  text-align: center;
  font-weight: 900;
}


.Buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -12em;
}

.souris{
  width: 50%;
  justify-content: center;
}


.pageML{
  display: flex;
  width: 100vw;
  justify-content: center;
}

.souris>h1{
  background-color:#F69F25;
  text-align: center;
  border-radius: 10px;
  width: 35%;
  font-size: 25px;
  padding: 0.8em;
}

.souris>p{
  background-color: lightgoldenrodyellow;
  text-align: justify;
  border-radius: 10px;
  font-size: 17px;
  font-family: 'Segoe UI';
  padding: 0.8em;
  line-height: 1.4;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.souris>p>span{
  font-size: 20px;
  font-family: 'Segoe UI';
  font-weight: bold;
}




.ContPages{
  display: flex;
  justify-content: center;
}

.Pages{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.Pages>p{
  text-align: center;
  font-size: 23px;
}

.Pages>a{
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  text-align: center;
  line-height: 2 ;
  width: 25em;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI';
  font-weight: 600;
  padding: 0.5em;
}

.Pages>a:hover{
  background-color: #F69F25;
  color: white;
}


.contPersonnel{
  display: flex;
  justify-content: center;
}

.personnel{
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}

.personnel>h1{
  display: flex;
  justify-content: center;
  background-color: #161B4B;
  color: white;
  border-radius: 10px;
  font-size: 28px;
  padding: 0.6em;
  width: 55%;
  text-align: center;
}

.personnel>p{
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI';
  text-align: justify;
  font-weight: 600;
  line-height: 1.5;
}