@font-face {
    font-family: "GROBOLD";
    src: url("../fonts/GROBOLD.ttf");
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("../fonts/segoe-ui/Segoe\ UI\ Bold.ttf"),
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoe-ui/Segoe\ UI.ttf"),
}

body, html {
    margin: 0%;
    padding: 0%;
}

body * {
    font-family: "Segoe UI";
}

/*---------------------Commun Connexion, Inscription, Billet--------------------*/

input {
    border: none;
}

form a {
    text-decoration: none;
    color: #161B4B;
}

.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form h2 {
    font-family: GROBOLD;
    font-size: larger;
}

.titre {
    margin-top: 70px;

    display: flex;
    justify-content: flex-start;
}

#error {
    font-family: GROBOLD;
    font-size: smaller;
    text-align: center;
    color: #fd5353;
}

.space {
    height: 20vh;
    width: 100%;
}


.container >form , .container_billet >form {
    padding-bottom: 30px;
    width: 500px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    background-color: #E7E7E7;
    position: relative;

    border-radius: 50px;
}

.container >form * , .container_billet >form *{
    border-radius: 10px;
}

form>img {
    position: absolute;
    top: 20px;
    left: 30px;

    height: 35px;
}

.centre {
    width: 60%;
    margin-bottom: 10px;
}

p>input, select{
    border: solid 1px #a8a8a8;
}


::placeholder, select{
    padding: 10px;
}

.boutton {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boutton > * {
    font-family: GROBOLD;
    font-size: small;
}

.boutton > input {
    width: 90px;
    height: 40px;

    background-color: #161B4B;
    color: white;
}

/*---------------------Connexion--------------------*/

.centre > p:not(.half) > input , select {
    height: 50px;
    width: 100%;
}

/*---------------------Inscription--------------------*/

.half{
    display: flex;
    justify-content: space-between;
}

.half *{
    height: 50px;
    width: 46%;
}


/*---------------------billets--------------------*/

.container_billet{
    margin-top: 20px;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.billet .boutton {
    width: 80%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boutton  p, .boutton  span {
    font-size: medium;
    font-family: GROBOLD;
}

.billet .boutton > input {
    margin-left: 10px;
}

#ville{
    display: none;
}

.desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc *{
    text-align: center;
    font-family: GROBOLD;
}

.desc > h1{
    margin-top: 70px;
}

.desc > p{
    margin: 0;
}

.desc > #prems {
    margin-top: 100px;
}

.desc > #stand {
    color: #009289;
}

.desc > #vip {
    color: #FCA01F;
}

.desc > #concert {
    color: #161B4B;
}

#europe > #orange {
    color: #FCA01F;
}

#europe > #bleu {
    color: #009289;
}

/*---------------------Profil--------------------*/

.space2 {
    height: 100PX;
    width: 100%;
  }

.titre2{
    margin-top: 50px;
}

.profile .boutton{
    justify-content: flex-end;
}

#disconect , #Cancel{
    background-color: #fd5353;
    color: black;
}

/*---------------------admin--------------------*/

.titre2{
    margin-top: 50px;
}

.adminVille > .boutton,.adminType > .boutton,.adminSing > .boutton,.adminSuprVille > .boutton,.adminSuprSing > .boutton {
    justify-content: flex-end;
}

#file{
    border-radius: 0;
}

textarea{
    width: 100%;
    height: 100px;
}

.adminSuprVille, .adminSuprSing{
    margin-top: 20px;
}
