body {
	margin : 0;
}

header{
	margin-top: 2em;
	width: 100%;
	height: 50px;

	position: fixed;

	display: flex;
	justify-content: center;
}

.tete {
	display: flex;
	justify-content: space-between;
	
	width: 90%;
	height: 100%;

}

#logonb{
	padding-right: 1em;
	padding-bottom: 0.7em;
	margin-top: 0.5em;
}

#dates{
	color : white;
	font-family: "GROBOLD";
	font-size: 15px;
}

.hg{
	background-color: #161B4B;

	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 220px;
	padding-left: 1em;
	padding-right: 0.7em;
	border-radius: 10px;
}

.hg img{
	height: 75%;
}

.hg > p {
	line-height: 20px;
}

.menuorange {
	background-color: #FCA01F;
	display: flex;
	width: 580px;
	border-radius: 10px;
}
.menu{
	display: flex;
	width: 100%;
}
.menu ul{
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.menu > ul {
	padding: 0;
}

.menu > ul > li {
	width: 80px;
	text-align: center;
}

a {
	text-decoration: none;
	font-size: 13px;
	font-family: "Segoe UI";
	color : black;
	font-weight: 500;
}

#profil{
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

#billeterie{
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color: #161B4B;
	display: flex;
	align-items: center;
	justify-content: center;
}

#profil a{
	font-family: "GROBOLD";
	background-color: white;
}

#billeterie a{
	color : white;
	font-family: "GROBOLD";
}

